<h1>User Profile</h1>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= table_for @contracts do -%>
  <% columns :ticker, :strike_price, :spot_price, :interval, :gain_loss %>
<% end %>