
<% if @contracts %>
  <%= table_for @contracts do -%>
      <% column :put_call, :width => "15%" %>
      <% column :strike_price, :width => "15%" %>
      <% column :interval, :width => "15%" %>
      <% column :expiration_date, :width => "15%" %>
      <% column :gain_loss, :width => "15%" %>
  <% end %>
<% else %>
  <p>No contracts yet.</p>
<% end %>


<!-- .in_time_zone("Pacific Time (US & Canada)").to_s.split(" ").second -->
