
<% if @contracts %>
  <% @contracts.each do |contract| %>
  Strike price of $<%= contract.strike_price %> on <%= contract.created_at.strftime('%c %Z') %> expiring <%= contract.expiration.strftime('%c %Z') %><br>
  <% end %>
<% else %>
  <p>No contracts yet.</p>
<% end %>


<!-- .in_time_zone("Pacific Time (US & Canada)").to_s.split(" ").second -->
