/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*.inlineList li {
    display: inline-block;
    padding-left: 20px;
    font-family: helvetica;
    min-width: 33%;
}

.inlineList ul {
  width: 40%;
}*/

body{
  font-family: helvetica;
}

.tabs{
  list-style: none;
  margin: 0;
  padding 0;
  background-color: #ddd'
}

.tabs li{
  display: inline-block;
 }

 .tabs a{
   border-radius: 3px 3px 0 0;
   background: #d6d6d6;
   color: #333;
   display: block;
   padding: 0.5em 1em;
   text-decoration: none;
 }

 .tabs a.current{
   color: black;
   background: #c15d5d;
 }

 .tabs a:hover{
   background: #bbd3db;
 }

 .tab{
   background: white;
   border: 5px solid GhostWhite;
   padding: 1em;
   color:  black;
 }



 /*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');
s
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: helvetica;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='overview']:before { content: '\f1cb'; }
label[for*='fundamentals']:before { content: '\f17d'; }
label[for*='trade']:before { content: '\f16b'; }
/*label[for*='4']:before { content: '\f1a9'; }*/

/*label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#overview:checked ~ #overview,
#fundamentals:checked ~ #fundamentals,
#trade:checked ~ #trade {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
/*}
