/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


body{
  font-family: 'Allerta Stencil', sans-serif;
}

.jumbotron {
  margin-top: 3%;
  width: 100%;
  background-color: #6EC1CC;
}

.logo-jumbotron {
  width: 30%;
}

.tabs{
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: '#ddd';
}

.tabs li{
  display: inline-block;
 }

 .tabs a{
   border-radius: 3px 3px 0 0;
   background: #d6d6d6;
   color: #333;
   display: block;
   padding: 0.5em 1em;
   text-decoration: none;
 }

 .tabs a.current{
   color: black;
   background: #c15d5d;
 }

 .tabs a:hover{
   background: #bbd3db;
 }

 .tab{
   background: white;
   border: 5px solid GhostWhite;
   padding: 1em;
   color:  black;
 }

// .infobox{
//   display: block;
//   max-width: 400px;
// }

// .stockbox{
//   display: block;
//   max-width: 240px;
//   background-color: #Blue;
//   border: 1px solid #d3d3d3;
//   color: #d3d3d3;
//   padding: 10px 24px;
//   margin: 10px 10px 10px 10px;
//   cursor: pointer;
// }
//
// .stockbox div:hover{
//   background: #bbb;
// }

.console{
  float: left;
  display: block;
}

// .main-image{
//   float: left;
//   size: 640px;
//   display: inline-block;
// }

.button a{
  display: block;
  text-decoration: none;
  color: black;
}

.button{
  color: black;
  padding: 6px 6px 6px 6px;
  margin: 5px 5px 5px 5px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.topnav {
     background-color: #333;
     overflow: hidden;
 }

 .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }

 /*this has yet to be implemented with javascript*/
 .topnav a:hover {
     background-color: #ddd;
     color: black;
 }

 .topnav a.active {
     background-color: #4CAF50;
     color: white;
 }
