#equities-container {
  // border: 3px red solid;
  position: relative;
  margin: auto;
  width: 1000px;

  #bankroll {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 32px;

    #bank-label {
      position: absolute;
      left: 30px;
    }
  }

  h3 {
    text-align: right;
    position: absolute;
    top: 130px;
    right: 325px;
  }

  .stock-link {
    display: table-cell;
    vertical-align: middle;
    color: red;
    font-size: 18px;
  }

  #instructions {
    text-align: right;
    position: absolute;
    top: 220px;
    right: 320px;
    font-size: 18px;
  }

  #mentor-robot {
    position: absolute;
    top: 50px;
    right: -50px;
    width: 400px;
  }

  #graph{
    display: none;
    float: left;
    min-width: 640px;
    /*max-width: 360px;*/
    display: inline-block;
  }

}
