/*.container {
   display: -webkit-flex;
   display: flex;
   flex-wrap: wrap;
}*/

.stockbox{
  display: block;
  flex-wrap: nowrap;
  position: absolute;
  max-width: 240px;
  background-color: #Blue;
  border: 3px solid #b3b3b3;
  color: #d3d3d3;
  padding: 10px 24px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
}

.button {
  width: 100px;
  height: 58px;
  padding: 0px;
  margin: 0px;
}

.stockbox div:hover{
  background: #F0F0F0;
}

.infobox{
  display: block;
  flex-wrap: nowrap;
  max-width: 800px;
}

.main-image{
  float: left;
  min-width: 640px;
  /*max-width: 360px;*/
  display: inline-block;
}


.page-wrapper{
  margin: 20px;
}

.fundamental{
  display: inline-block;
}

.fundamental-column{
  float: left;
  min-width: 30%;
}
