/*.container {
   display: -webkit-flex;
   display: flex;
   flex-wrap: wrap;
}*/

.stockbox{
  display: block;
  flex-wrap: nowrap;
  float: left;
  max-width: 240px;
  background-color: #Blue;
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
  padding: 10px 24px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
}

.stockbox div:hover{
  background: #bbb;
}

.infobox{
  display: block;
  flex-wrap: nowrap;
  max-width: 400px;
}

.main-image{
  float: left;
  width: auto;
  height: auto;
  /*max-width: 360px;*/
  display: inline-block;
}
