


#login-door {
  display: inline-block;
  position: relative;
  top: 35px;
  left: 25%;
  width: 25%;
  max-width: 350px;
}

#login-form {
  display: inline-block;
  position: relative;
  top: 80px;
  left: 25%;
  width: 300px;
}

.fancy-field {
  border: 1px solid #b3b3b3;
  color: #4A4A4A;
  background-color: #F0F0F0;
  padding: 5px;
  font-size: 12px;
}

.fancy-input {
  background-color: #F0F0F0;
  border: none;
  outline: none;
}

.fancy-button {
  margin-top: 10px;
  border: 1px solid #b3b3b3;
  color: #4A4A4A;
  background-color: #FFF;
  padding: 5px;
  font-size: 14px;
  width: 100px;

}
