<header>
  <div id="navbar-container">
    <div id="navbar-left-container">
      <div id="header-banner-container"><span id="logo-p2">Potluck Party Planner Poster</span></div>
      <ul class="navbar-link-list">
        <li class="navbar-list-item"><a href="/potlucks">Home</a></li>
      </ul>
    </div>
    <div id="navbar-right-container">
      <ul class="navbar-link-list">
        <% if current_user %>
          <li class="navbar-list-item"><a href="/logout">Logout</a></li>
        <% else %>
          <li class="navbar-list-item"><a href="/login">Login</a></li>
          <li class="navbar-list-item"><a href="/users/new">Register</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
